.super-mario {
  width: 200px;
  position: relative;
}

.goomba {
  width: 100px;
  position: relative;
  top: 150px;
  right: 150px;

}

.baloon {
  position: relative;
  right:  150px;
  z-index: 0;
}

.speach {
  font-size: 25px;
  position: absolute;
  top: 230px;
  left: 390px;
  z-index: 1;
}

.bowser {
  width: 200px;
  position: relative;
  top: 150px;
  left: 330px;
}