/* Geral */
* {
  margin: 0;
  padding: 0; 
}

body {
  background: linear-gradient(45deg, #BBD1D3, #F2DECF);
  flex-wrap: wrap;
}

#header-content, #calendar-content, body, h1, ul, #initials-of-day, .initials, #calendar, .items-days, #active-month {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* header */
h1 {
  width: 70vw;
  height: 120px;
  background: linear-gradient(45deg, #6AB5C4, #BBD1D3);
  color: #FFFFFD;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
}

nav {
  width: 30vw;
  height: 120px;
  background: linear-gradient(to right, #d38d91, #E56369);
}

/* calendário principal */

#calendar-content {
  width: 380px;
  height: 500px;
  background-color: aliceblue;
}

#main-calendar {
  width: 364px;
  height: 490px;
  background-color:rgb(92, 70, 170)
}

ul {
  list-style-type: none;
}

.initials, .items-days {
  width: 52px;
  height: 52px;
  font-size: 20px;
}

#calendar {
  flex-wrap: wrap;
}


.popover {
  display: none;
}







