* {
  margin: 0;
  padding: 0;
}

main {
  width: 920px;
  height: 620px;
  background-color: aqua;
  margin: 0 auto;
}

#nav-content {
  background-color: rgb(223, 226, 43);
  height: 60px;
}

#relevant-content {
  display: flex;
}

#content {
  width: 700px;
  height: 560px;
  background-color: brown;
  /* display: flex; */
}

#header-content {
  width: 100%;
  height: 80px;
  background-color: blue;
}

#sections {
  display: flex;
}

#section-content {
  width: 50%;
  height: 480px;
  background-color: rgb(226, 95, 43);
  /* align-items: center; */
}

#aside-content {
  width: 220px;
  height: 560px;
  background-color: rgb(10, 10, 44);
}

#footer-content {
  background-color: black;
  height: 80px;
  width: 920px;
  margin: 0 auto;
}

#nav-content, #header-content, #section-content, #aside-content, #footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
