*{
  margin: 0;
  padding: 0;
}

#header-content, h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-content {
  flex-wrap: wrap;
}

h1 {
  height: 80px;
  width: 100%;
  color: red;
  background-color: rgb(17, 17, 17);
  -webkit-text-stroke: 1px rgb(255, 36, 36);
}

#start-race {
  margin: 10px 0;
  width: 200px;
  height: 40px;
  border-radius: 5px;
}

#car-section {
  position: relative;
  padding: 20px 0;
  height: 170px;
  background-image: url(./img/asfalto.jpg);
  background-size: contain;
  background-repeat: repeat-x; /* Repetir a imagem de fundo horizontalmente */
  animation: moverEstrada 5s linear infinite; /* Animar a posição da estrada */
}

@keyframes moverEstrada {
  from {
    background-position: right; /* Posição inicial da imagem de fundo (à esquerda) */
  }
  to {
    background-position: left; /* Posição final da imagem de fundo (à direita) */
  }
}

#car-section {
  display: flex;
  align-items: center;
}

#car1 {
  background-image: url(./img/vermelho.png);
  margin-bottom: 10px;
}

#car2 {
  background-image: url(./img/azul.png);
}

#car1, #car2 {
  height: 100px;
  width: 150px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#finish {
  height: 210px;
  left: calc(100vw - 230px);
  position: absolute;
}

#finish-line {
  height: 210px;
  width: 80px;
  background-image: url(./img/fim.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}